{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}I Need to Save{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'favicon.png' %}" rel="icon">
        <link href="{% static 'ints/css/styles.css' %}" rel="stylesheet">
        {% block style %}
        {% endblock %}

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        
        <!-- Charts.js-->
        <script src="{% static 'ints/Js/node_modules/charts/chart.js/dist/Chart.js' %}"></script>
        <script src="{% static 'ints/Js/node_modules/moment/moment.js' %}"></script>
        
        
    </head>
    <body class="body">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent border-bottom border-dark">
            <a class="navbar-brand" href="
                {% if user.is_authenticated %}
                    {% url 'dashboard' %}
                {% else %}
                    {% url 'index' %}
                {% endif %}"><img height="50px" src="{% static 'ints/images/logo.P05' %}"></a>
                {% if user.is_authenticated %}
                <span class="navbar-nav text-small text-muted">Welcome back, {{user.username}}!</span>
                {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all' %}">All transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'charts' %}">Charts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="container-fluid bg-transparent">
            {% block body %}
            {% endblock %}
        </div>
      
        <!-- Bootstrap scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Chart.js -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> -->

        
        {% block script %}
        {% endblock %}
    </body>
</html>